Github multi AI agent code reviewer (3).json
{
  "name": "Github multi AI agent code reviewer",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Parth-Gholap",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "test-ai-reviewer",
          "mode": "list",
          "cachedResultName": "test-ai-reviewer",
          "cachedResultUrl": "https://github.com/Parth-Gholap/test-ai-reviewer"
        },
        "events": [
          "pull_request"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -2176,
        400
      ],
      "id": "35167ce5-ad77-447f-8c6e-046a56a13a3a",
      "name": "Github Trigger",
      "webhookId": "569bc528-e266-4ba5-b480-2f632209b9d8",
      "credentials": {
        "githubOAuth2Api": {
          "id": "JebgA91SO2aCgCbY",
          "name": "GitHub OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.body.repository.owner.login }}/{{ $json.body.repository.name }}/pulls/{{ $json.body.number }}/files",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1952,
        400
      ],
      "id": "1f92152c-fbbd-4b49-b30b-97cc8c7fa72d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all().map(item => item.json);\n\nlet diffs = '';\n\nfor (const file of files) {\n  diffs += `### Fichier : ${file.filename}\\n\\n`;\n\n  if (file.patch) {\n    // IMPORTANT : On remplace tous les triple backticks par simple (ou échappement)\n    const safePatch = file.patch.replace(/```/g, \"''\");\n\n    diffs += \"```diff\\n\";\n    diffs += safePatch;\n    diffs += \"\\n```\\n\";\n  } else {\n    diffs += \"_Pas de patch disponible (probablement fichier binaire)._\";\n  }\n\n  diffs += \"\\n---\\n\\n\";\n}\n\nconst userMessage = `\nYou are a senior web developer. \nPlease review the following code changes in these files :\n\n${diffs}\n\n---\n\nYour mission:\n- Generate a detailed inline comment witht he problem in the PR request (if there exists any) and the solution to it (if there exists any)\n- Review the proposed code changes file by file and by significant modification.\n\n- Generate inline comments on the relevant lines of code.\n\n- Ignore files without patches.\n\n- Do not repeat the code snippet or the filename.\n\n- Write the comments directly, without introducing the context.\n`;\n\nreturn [\n  {\n    json: {\n      user_message: userMessage.trim()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        400
      ],
      "id": "e55aa04b-ce88-4ddc-be85-00bd563b6e15",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=figure all the other issues or suggestions for the PR request which are not included in {{ $json.output }} also suggest some changes that if you think it exist in the response by AI agent 1 ({{ $json.output }}). format of reponse: AI Agent 1: {{ $json.output }} followed by AI Agent: and then your response and your suggestion. I need to track the response of both the agents.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -704,
        112
      ],
      "id": "38790f15-545d-42e4-a2cd-171552933a77",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -640,
        336
      ],
      "id": "842105c6-ba9a-4e95-b755-eba2b7cd8218",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "I7K98qyhq4t3Jiyt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "parthgholap18@gmail.com",
        "subject": "Action needed: Review the comment going to be posted",
        "message": "=Pull request info:\nRepo name: {{ $('Github Trigger').item.json.body.pull_request.head.repo.name }}\nPull Request by: {{ $('Github Trigger').item.json.body.pull_request.user.login }}\nPull request id: {{ $('Github Trigger').item.json.body.number }}\nPull request title: {{ $('Github Trigger').item.json.body.pull_request.title }}\nPull request description: {{ $('Github Trigger').item.json.body.pull_request.body }}\nAI generated comment: {{ $json.finaloutput }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Should we post this ? ",
              "fieldType": "dropdown",
              "defaultValue": "no",
              "fieldOptions": {
                "values": [
                  {
                    "option": "yes"
                  },
                  {
                    "option": "no"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        304
      ],
      "id": "ae5ce80b-fa9d-4339-90f2-f02340c02728",
      "name": "Send message and wait for response",
      "webhookId": "80d558be-e5f2-4db8-97c7-59ed68b8982a",
      "credentials": {
        "gmailOAuth2": {
          "id": "qz0m7SEoGDDEwvn8",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Parth-Gholap",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "test-ai-reviewer",
          "mode": "list",
          "cachedResultName": "test-ai-reviewer",
          "cachedResultUrl": "https://github.com/Parth-Gholap/test-ai-reviewer"
        },
        "pullRequestNumber": "={{ $('Github Trigger').item.json.body.number }}",
        "event": "comment",
        "body": "={{ $('Edit Fields').item.json.finaloutput }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1024,
        304
      ],
      "id": "afe1bf95-4993-48e3-874a-2e3e71f14216",
      "name": "Create a review",
      "webhookId": "3016eb2d-e237-4025-8038-7bf926e6100c",
      "credentials": {
        "githubOAuth2Api": {
          "id": "pUnjhjnlMuPFJHyD",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Parth-Gholap",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "test-ai-reviewer",
          "mode": "list",
          "cachedResultName": "test-ai-reviewer",
          "cachedResultUrl": "https://github.com/Parth-Gholap/test-ai-reviewer"
        },
        "issueNumber": "={{ $('Github Trigger').item.json.body.number }}",
        "editFields": {
          "labels": [
            {
              "label": "ReviewedByAI"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1248,
        304
      ],
      "id": "32f1d516-cfce-457a-8995-49fb4471e7fd",
      "name": "Edit an issue",
      "webhookId": "473feab3-970a-4f5e-93ea-89425247b5d9",
      "credentials": {
        "githubOAuth2Api": {
          "id": "pUnjhjnlMuPFJHyD",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6cc15d2-d0e3-42ba-9f79-5e36f807f19c",
              "leftValue": "={{ $json.data['Should we post this ? '] }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ae715881-c414-473f-b5b7-e50bb7d3048b",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        304
      ],
      "id": "8d6a1021-21e3-48c8-a1a1-48d51b525f0c",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}. format of response:AI agent 1: followed by your response",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1056,
        112
      ],
      "id": "a3c9aaa0-9817-4a83-af07-5ef0299b832e",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=combine the response of AI agent 1 and AI agent {{ $json.output }} and {{ $('AI Agent1').item.json.output }} also add your suggestion and enhancements to the pr request then make the following comment more efficient by making sure that one thing if specified isn't repated again and also nothing such as github comment, inline comment, etc. in mentioned in the comment. also make it such that it looks like a suggestion from the user rather than ai generated comment. don't add anything extra from your side, just keep the info mentioned in the provided comment and nothing extra. also I want the comment not to show the comments generated by btoh the agents instead show me the summary of all the three ai agents and hence the best short suggestion for the pr request. genrate short and comprehensive comment of 4-5 lines maximum. and don't add any thing else just a comment that can be posted on the github.\nalso humanize the comment generated.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -352,
        112
      ],
      "id": "64cf9e0e-2aa5-4755-8814-b2d8254c3334",
      "name": "AI Agent2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -992,
        416
      ],
      "id": "6543ba22-ebc7-43de-8ea6-13fab890bc01",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "I7K98qyhq4t3Jiyt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -288,
        336
      ],
      "id": "6f77e195-52b2-4a2d-a6be-fb22e7f532ad",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "I7K98qyhq4t3Jiyt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=generate a short humanized comment by enhancing the response from previous AI agent - ({{ $json.output }}). I want to post only 3-4 lines comment. make the following comment more efficient by making sure that one thing if specified isn't repated again and also nothing such as github comment, inline comment, etc. in mentioned in the comment. also make it such that it looks like a suggestion from the user rather than ai generated comment. don't add anything extra from your side, just keep the info mentioned in the provided comment and nothing extra. also I want the comment not to show the comments generated by btoh the agents instead show me the summary of all the three ai agents and hence the best short suggestion for the pr request. genrate short and comprehensive comment of 4-5 lines maximum. and don't add any thing else just a comment that can be posted on the github.\nalso humanize the comment generated. and give me only the comment which has to be posted on github with no extra words. no words like, final comment, revised final comment, etc.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "69af3ead-4c55-4509-91ee-4233a4d6d635",
      "name": "AI Agent3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-12b-v2-vl:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        80,
        224
      ],
      "id": "96ddc66d-300b-4caf-bc75-cc1746cc9c08",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "I7K98qyhq4t3Jiyt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9246b807-80ea-4235-8f8a-388b7bb6c87d",
              "name": "finaloutput",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        304
      ],
      "id": "73e96234-5ed6-4a22-b587-67e6374c72c7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "090a9f40-ff27-4d61-9408-5d69f0c1dfb0",
              "leftValue": "={{ $('HTTP Request').item.json.changes }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1296,
        272
      ],
      "id": "54f7d43b-1c4c-4e63-b187-3ed3e556332d",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role: Senior Developer\n# Task: Verify PR safety & intent.\n\nDiff: {{ $json.user_message }}\n\n# Instructions:\n- Only flag logic errors, security risks, or clear typos. \n- If the change is a list or intentional documentation, APPROVE it.\n- Output: 1-sentence supportive suggestion. \n- No intro/fluff.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        528
      ],
      "id": "06d5967a-8e68-49c5-8568-8bdb66cb394a",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-30b-a3b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        80,
        736
      ],
      "id": "196614a6-8c50-4ff4-9505-c1cd2a504576",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "I7K98qyhq4t3Jiyt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7c14d572-8637-4947-b5a4-1ec642db6705",
              "leftValue": "={{ $('HTTP Request').item.json.changes }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1504,
        400
      ],
      "id": "a432198a-e55d-48a8-bec8-1725a6c6e989",
      "name": "If2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Parth-Gholap",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "test-ai-reviewer",
          "mode": "list",
          "cachedResultName": "test-ai-reviewer",
          "cachedResultUrl": "https://github.com/Parth-Gholap/test-ai-reviewer"
        },
        "pullRequestNumber": "={{ $('Github Trigger').item.json.body.number }}",
        "event": "comment",
        "body": "This PR is too large for AI review, please wait for a human.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1280,
        672
      ],
      "id": "264c48f3-ec14-458c-b0d7-0929a55ff331",
      "name": "Create a review1",
      "webhookId": "944169c5-986a-414b-a653-d143f0a802bf",
      "credentials": {
        "githubOAuth2Api": {
          "id": "pUnjhjnlMuPFJHyD",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/Parth-Gholap",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "test-ai-reviewer",
          "mode": "list",
          "cachedResultName": "test-ai-reviewer",
          "cachedResultUrl": "https://github.com/Parth-Gholap/test-ai-reviewer"
        },
        "issueNumber": "={{ 0 }}={{ $('Github Trigger').item.json.body.number }}",
        "editFields": {
          "labels": [
            {
              "label": "waitingForHuman"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -992,
        672
      ],
      "id": "306b77cf-0c95-432c-92e2-120ad290b735",
      "name": "Edit an issue1",
      "webhookId": "2ad59403-3be1-4bed-a275-ff17152c1820",
      "credentials": {
        "githubOAuth2Api": {
          "id": "pUnjhjnlMuPFJHyD",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {
    "Github Trigger": [
      {
        "json": {
          "body": {
            "action": "opened",
            "number": 5,
            "pull_request": {
              "url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/pulls/5",
              "id": 3478549220,
              "node_id": "PR_kwDOR2nn087PVnLk",
              "html_url": "https://github.com/Parth-Gholap/test-ai-reviewer/pull/5",
              "diff_url": "https://github.com/Parth-Gholap/test-ai-reviewer/pull/5.diff",
              "patch_url": "https://github.com/Parth-Gholap/test-ai-reviewer/pull/5.patch",
              "issue_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/issues/5",
              "number": 5,
              "state": "open",
              "locked": false,
              "title": "added new files and updated readme",
              "user": {
                "login": "Ayush07571",
                "id": 178201552,
                "node_id": "U_kgDOCp8j0A",
                "avatar_url": "https://avatars.githubusercontent.com/u/178201552?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/Ayush07571",
                "html_url": "https://github.com/Ayush07571",
                "followers_url": "https://api.github.com/users/Ayush07571/followers",
                "following_url": "https://api.github.com/users/Ayush07571/following{/other_user}",
                "gists_url": "https://api.github.com/users/Ayush07571/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/Ayush07571/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/Ayush07571/subscriptions",
                "organizations_url": "https://api.github.com/users/Ayush07571/orgs",
                "repos_url": "https://api.github.com/users/Ayush07571/repos",
                "events_url": "https://api.github.com/users/Ayush07571/events{/privacy}",
                "received_events_url": "https://api.github.com/users/Ayush07571/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "body": "added hello world python program and updated the readme so specify that it is a readme file",
              "created_at": "2026-04-01T18:08:00Z",
              "updated_at": "2026-04-01T18:08:00Z",
              "closed_at": null,
              "merged_at": null,
              "merge_commit_sha": null,
              "assignees": [],
              "requested_reviewers": [],
              "requested_teams": [],
              "labels": [],
              "milestone": null,
              "draft": false,
              "commits_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/pulls/5/commits",
              "review_comments_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/pulls/5/comments",
              "review_comment_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/pulls/comments{/number}",
              "comments_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/issues/5/comments",
              "statuses_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/statuses/9c49f383dd1b2307b863dada7d98ef05bcabe676",
              "head": {
                "label": "Ayush07571:main",
                "ref": "main",
                "sha": "9c49f383dd1b2307b863dada7d98ef05bcabe676",
                "user": {
                  "login": "Ayush07571",
                  "id": 178201552,
                  "node_id": "U_kgDOCp8j0A",
                  "avatar_url": "https://avatars.githubusercontent.com/u/178201552?v=4",
                  "gravatar_id": "",
                  "url": "https://api.github.com/users/Ayush07571",
                  "html_url": "https://github.com/Ayush07571",
                  "followers_url": "https://api.github.com/users/Ayush07571/followers",
                  "following_url": "https://api.github.com/users/Ayush07571/following{/other_user}",
                  "gists_url": "https://api.github.com/users/Ayush07571/gists{/gist_id}",
                  "starred_url": "https://api.github.com/users/Ayush07571/starred{/owner}{/repo}",
                  "subscriptions_url": "https://api.github.com/users/Ayush07571/subscriptions",
                  "organizations_url": "https://api.github.com/users/Ayush07571/orgs",
                  "repos_url": "https://api.github.com/users/Ayush07571/repos",
                  "events_url": "https://api.github.com/users/Ayush07571/events{/privacy}",
                  "received_events_url": "https://api.github.com/users/Ayush07571/received_events",
                  "type": "User",
                  "user_view_type": "public",
                  "site_admin": false
                },
                "repo": {
                  "id": 1198727556,
                  "node_id": "R_kgDOR3MhhA",
                  "name": "test-ai-reviewer-clone",
                  "full_name": "Ayush07571/test-ai-reviewer-clone",
                  "private": false,
                  "owner": {
                    "login": "Ayush07571",
                    "id": 178201552,
                    "node_id": "U_kgDOCp8j0A",
                    "avatar_url": "https://avatars.githubusercontent.com/u/178201552?v=4",
                    "gravatar_id": "",
                    "url": "https://api.github.com/users/Ayush07571",
                    "html_url": "https://github.com/Ayush07571",
                    "followers_url": "https://api.github.com/users/Ayush07571/followers",
                    "following_url": "https://api.github.com/users/Ayush07571/following{/other_user}",
                    "gists_url": "https://api.github.com/users/Ayush07571/gists{/gist_id}",
                    "starred_url": "https://api.github.com/users/Ayush07571/starred{/owner}{/repo}",
                    "subscriptions_url": "https://api.github.com/users/Ayush07571/subscriptions",
                    "organizations_url": "https://api.github.com/users/Ayush07571/orgs",
                    "repos_url": "https://api.github.com/users/Ayush07571/repos",
                    "events_url": "https://api.github.com/users/Ayush07571/events{/privacy}",
                    "received_events_url": "https://api.github.com/users/Ayush07571/received_events",
                    "type": "User",
                    "user_view_type": "public",
                    "site_admin": false
                  },
                  "html_url": "https://github.com/Ayush07571/test-ai-reviewer-clone",
                  "description": null,
                  "fork": true,
                  "url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone",
                  "forks_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/forks",
                  "keys_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/keys{/key_id}",
                  "collaborators_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/collaborators{/collaborator}",
                  "teams_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/teams",
                  "hooks_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/hooks",
                  "issue_events_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/issues/events{/number}",
                  "events_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/events",
                  "assignees_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/assignees{/user}",
                  "branches_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/branches{/branch}",
                  "tags_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/tags",
                  "blobs_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/git/blobs{/sha}",
                  "git_tags_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/git/tags{/sha}",
                  "git_refs_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/git/refs{/sha}",
                  "trees_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/git/trees{/sha}",
                  "statuses_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/statuses/{sha}",
                  "languages_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/languages",
                  "stargazers_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/stargazers",
                  "contributors_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/contributors",
                  "subscribers_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/subscribers",
                  "subscription_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/subscription",
                  "commits_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/commits{/sha}",
                  "git_commits_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/git/commits{/sha}",
                  "comments_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/comments{/number}",
                  "issue_comment_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/issues/comments{/number}",
                  "contents_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/contents/{+path}",
                  "compare_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/compare/{base}...{head}",
                  "merges_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/merges",
                  "archive_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/{archive_format}{/ref}",
                  "downloads_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/downloads",
                  "issues_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/issues{/number}",
                  "pulls_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/pulls{/number}",
                  "milestones_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/milestones{/number}",
                  "notifications_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/notifications{?since,all,participating}",
                  "labels_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/labels{/name}",
                  "releases_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/releases{/id}",
                  "deployments_url": "https://api.github.com/repos/Ayush07571/test-ai-reviewer-clone/deployments",
                  "created_at": "2026-04-01T17:44:28Z",
                  "updated_at": "2026-04-01T18:06:10Z",
                  "pushed_at": "2026-04-01T18:06:04Z",
                  "git_url": "git://github.com/Ayush07571/test-ai-reviewer-clone.git",
                  "ssh_url": "git@github.com:Ayush07571/test-ai-reviewer-clone.git",
                  "clone_url": "https://github.com/Ayush07571/test-ai-reviewer-clone.git",
                  "svn_url": "https://github.com/Ayush07571/test-ai-reviewer-clone",
                  "homepage": null,
                  "size": 4,
                  "stargazers_count": 0,
                  "watchers_count": 0,
                  "language": "JavaScript",
                  "has_issues": false,
                  "has_projects": true,
                  "has_downloads": true,
                  "has_wiki": true,
                  "has_pages": false,
                  "has_discussions": false,
                  "forks_count": 0,
                  "mirror_url": null,
                  "archived": false,
                  "disabled": false,
                  "open_issues_count": 0,
                  "license": null,
                  "allow_forking": true,
                  "is_template": false,
                  "web_commit_signoff_required": false,
                  "has_pull_requests": true,
                  "pull_request_creation_policy": "all",
                  "topics": [],
                  "visibility": "public",
                  "forks": 0,
                  "open_issues": 0,
                  "watchers": 0,
                  "default_branch": "main",
                  "allow_squash_merge": true,
                  "allow_merge_commit": true,
                  "allow_rebase_merge": true,
                  "allow_auto_merge": false,
                  "delete_branch_on_merge": false,
                  "allow_update_branch": false,
                  "use_squash_pr_title_as_default": false,
                  "squash_merge_commit_message": "COMMIT_MESSAGES",
                  "squash_merge_commit_title": "COMMIT_OR_PR_TITLE",
                  "merge_commit_message": "PR_TITLE",
                  "merge_commit_title": "MERGE_MESSAGE"
                }
              },
              "base": {
                "label": "Parth-Gholap:main",
                "ref": "main",
                "sha": "cc10acb59d901daa8affec0cbb548e7d97367f5a",
                "user": {
                  "login": "Parth-Gholap",
                  "id": 189454621,
                  "node_id": "U_kgDOC0rZHQ",
                  "avatar_url": "https://avatars.githubusercontent.com/u/189454621?v=4",
                  "gravatar_id": "",
                  "url": "https://api.github.com/users/Parth-Gholap",
                  "html_url": "https://github.com/Parth-Gholap",
                  "followers_url": "https://api.github.com/users/Parth-Gholap/followers",
                  "following_url": "https://api.github.com/users/Parth-Gholap/following{/other_user}",
                  "gists_url": "https://api.github.com/users/Parth-Gholap/gists{/gist_id}",
                  "starred_url": "https://api.github.com/users/Parth-Gholap/starred{/owner}{/repo}",
                  "subscriptions_url": "https://api.github.com/users/Parth-Gholap/subscriptions",
                  "organizations_url": "https://api.github.com/users/Parth-Gholap/orgs",
                  "repos_url": "https://api.github.com/users/Parth-Gholap/repos",
                  "events_url": "https://api.github.com/users/Parth-Gholap/events{/privacy}",
                  "received_events_url": "https://api.github.com/users/Parth-Gholap/received_events",
                  "type": "User",
                  "user_view_type": "public",
                  "site_admin": false
                },
                "repo": {
                  "id": 1198122963,
                  "node_id": "R_kgDOR2nn0w",
                  "name": "test-ai-reviewer",
                  "full_name": "Parth-Gholap/test-ai-reviewer",
                  "private": false,
                  "owner": {
                    "login": "Parth-Gholap",
                    "id": 189454621,
                    "node_id": "U_kgDOC0rZHQ",
                    "avatar_url": "https://avatars.githubusercontent.com/u/189454621?v=4",
                    "gravatar_id": "",
                    "url": "https://api.github.com/users/Parth-Gholap",
                    "html_url": "https://github.com/Parth-Gholap",
                    "followers_url": "https://api.github.com/users/Parth-Gholap/followers",
                    "following_url": "https://api.github.com/users/Parth-Gholap/following{/other_user}",
                    "gists_url": "https://api.github.com/users/Parth-Gholap/gists{/gist_id}",
                    "starred_url": "https://api.github.com/users/Parth-Gholap/starred{/owner}{/repo}",
                    "subscriptions_url": "https://api.github.com/users/Parth-Gholap/subscriptions",
                    "organizations_url": "https://api.github.com/users/Parth-Gholap/orgs",
                    "repos_url": "https://api.github.com/users/Parth-Gholap/repos",
                    "events_url": "https://api.github.com/users/Parth-Gholap/events{/privacy}",
                    "received_events_url": "https://api.github.com/users/Parth-Gholap/received_events",
                    "type": "User",
                    "user_view_type": "public",
                    "site_admin": false
                  },
                  "html_url": "https://github.com/Parth-Gholap/test-ai-reviewer",
                  "description": null,
                  "fork": false,
                  "url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer",
                  "forks_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/forks",
                  "keys_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/keys{/key_id}",
                  "collaborators_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/collaborators{/collaborator}",
                  "teams_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/teams",
                  "hooks_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/hooks",
                  "issue_events_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/issues/events{/number}",
                  "events_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/events",
                  "assignees_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/assignees{/user}",
                  "branches_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/branches{/branch}",
                  "tags_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/tags",
                  "blobs_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/git/blobs{/sha}",
                  "git_tags_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/git/tags{/sha}",
                  "git_refs_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/git/refs{/sha}",
                  "trees_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/git/trees{/sha}",
                  "statuses_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/statuses/{sha}",
                  "languages_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/languages",
                  "stargazers_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/stargazers",
                  "contributors_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/contributors",
                  "subscribers_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/subscribers",
                  "subscription_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/subscription",
                  "commits_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/commits{/sha}",
                  "git_commits_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/git/commits{/sha}",
                  "comments_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/comments{/number}",
                  "issue_comment_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/issues/comments{/number}",
                  "contents_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/contents/{+path}",
                  "compare_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/compare/{base}...{head}",
                  "merges_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/merges",
                  "archive_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/{archive_format}{/ref}",
                  "downloads_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/downloads",
                  "issues_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/issues{/number}",
                  "pulls_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/pulls{/number}",
                  "milestones_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/milestones{/number}",
                  "notifications_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/notifications{?since,all,participating}",
                  "labels_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/labels{/name}",
                  "releases_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/releases{/id}",
                  "deployments_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/deployments",
                  "created_at": "2026-04-01T06:21:15Z",
                  "updated_at": "2026-04-01T13:46:51Z",
                  "pushed_at": "2026-04-01T13:46:46Z",
                  "git_url": "git://github.com/Parth-Gholap/test-ai-reviewer.git",
                  "ssh_url": "git@github.com:Parth-Gholap/test-ai-reviewer.git",
                  "clone_url": "https://github.com/Parth-Gholap/test-ai-reviewer.git",
                  "svn_url": "https://github.com/Parth-Gholap/test-ai-reviewer",
                  "homepage": null,
                  "size": 4,
                  "stargazers_count": 0,
                  "watchers_count": 0,
                  "language": "JavaScript",
                  "has_issues": true,
                  "has_projects": true,
                  "has_downloads": true,
                  "has_wiki": true,
                  "has_pages": false,
                  "has_discussions": false,
                  "forks_count": 1,
                  "mirror_url": null,
                  "archived": false,
                  "disabled": false,
                  "open_issues_count": 1,
                  "license": null,
                  "allow_forking": true,
                  "is_template": false,
                  "web_commit_signoff_required": false,
                  "has_pull_requests": true,
                  "pull_request_creation_policy": "all",
                  "topics": [],
                  "visibility": "public",
                  "forks": 1,
                  "open_issues": 1,
                  "watchers": 0,
                  "default_branch": "main",
                  "allow_squash_merge": true,
                  "allow_merge_commit": true,
                  "allow_rebase_merge": true,
                  "allow_auto_merge": false,
                  "delete_branch_on_merge": false,
                  "allow_update_branch": false,
                  "use_squash_pr_title_as_default": false,
                  "squash_merge_commit_message": "COMMIT_MESSAGES",
                  "squash_merge_commit_title": "COMMIT_OR_PR_TITLE",
                  "merge_commit_message": "PR_TITLE",
                  "merge_commit_title": "MERGE_MESSAGE"
                }
              },
              "_links": {
                "self": {
                  "href": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/pulls/5"
                },
                "html": {
                  "href": "https://github.com/Parth-Gholap/test-ai-reviewer/pull/5"
                },
                "issue": {
                  "href": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/issues/5"
                },
                "comments": {
                  "href": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/issues/5/comments"
                },
                "review_comments": {
                  "href": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/pulls/5/comments"
                },
                "review_comment": {
                  "href": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/pulls/comments{/number}"
                },
                "commits": {
                  "href": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/pulls/5/commits"
                },
                "statuses": {
                  "href": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/statuses/9c49f383dd1b2307b863dada7d98ef05bcabe676"
                }
              },
              "author_association": "NONE",
              "auto_merge": null,
              "assignee": null,
              "active_lock_reason": null,
              "merged": false,
              "mergeable": null,
              "rebaseable": null,
              "mergeable_state": "unknown",
              "merged_by": null,
              "comments": 0,
              "review_comments": 0,
              "maintainer_can_modify": true,
              "commits": 2,
              "additions": 2,
              "deletions": 1,
              "changed_files": 2
            },
            "repository": {
              "id": 1198122963,
              "node_id": "R_kgDOR2nn0w",
              "name": "test-ai-reviewer",
              "full_name": "Parth-Gholap/test-ai-reviewer",
              "private": false,
              "owner": {
                "login": "Parth-Gholap",
                "id": 189454621,
                "node_id": "U_kgDOC0rZHQ",
                "avatar_url": "https://avatars.githubusercontent.com/u/189454621?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/Parth-Gholap",
                "html_url": "https://github.com/Parth-Gholap",
                "followers_url": "https://api.github.com/users/Parth-Gholap/followers",
                "following_url": "https://api.github.com/users/Parth-Gholap/following{/other_user}",
                "gists_url": "https://api.github.com/users/Parth-Gholap/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/Parth-Gholap/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/Parth-Gholap/subscriptions",
                "organizations_url": "https://api.github.com/users/Parth-Gholap/orgs",
                "repos_url": "https://api.github.com/users/Parth-Gholap/repos",
                "events_url": "https://api.github.com/users/Parth-Gholap/events{/privacy}",
                "received_events_url": "https://api.github.com/users/Parth-Gholap/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "html_url": "https://github.com/Parth-Gholap/test-ai-reviewer",
              "description": null,
              "fork": false,
              "url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer",
              "forks_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/forks",
              "keys_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/keys{/key_id}",
              "collaborators_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/collaborators{/collaborator}",
              "teams_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/teams",
              "hooks_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/hooks",
              "issue_events_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/issues/events{/number}",
              "events_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/events",
              "assignees_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/assignees{/user}",
              "branches_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/branches{/branch}",
              "tags_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/tags",
              "blobs_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/git/blobs{/sha}",
              "git_tags_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/git/tags{/sha}",
              "git_refs_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/git/refs{/sha}",
              "trees_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/git/trees{/sha}",
              "statuses_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/statuses/{sha}",
              "languages_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/languages",
              "stargazers_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/stargazers",
              "contributors_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/contributors",
              "subscribers_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/subscribers",
              "subscription_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/subscription",
              "commits_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/commits{/sha}",
              "git_commits_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/git/commits{/sha}",
              "comments_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/comments{/number}",
              "issue_comment_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/issues/comments{/number}",
              "contents_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/contents/{+path}",
              "compare_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/compare/{base}...{head}",
              "merges_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/merges",
              "archive_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/{archive_format}{/ref}",
              "downloads_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/downloads",
              "issues_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/issues{/number}",
              "pulls_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/pulls{/number}",
              "milestones_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/milestones{/number}",
              "notifications_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/notifications{?since,all,participating}",
              "labels_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/labels{/name}",
              "releases_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/releases{/id}",
              "deployments_url": "https://api.github.com/repos/Parth-Gholap/test-ai-reviewer/deployments",
              "created_at": "2026-04-01T06:21:15Z",
              "updated_at": "2026-04-01T13:46:51Z",
              "pushed_at": "2026-04-01T13:46:46Z",
              "git_url": "git://github.com/Parth-Gholap/test-ai-reviewer.git",
              "ssh_url": "git@github.com:Parth-Gholap/test-ai-reviewer.git",
              "clone_url": "https://github.com/Parth-Gholap/test-ai-reviewer.git",
              "svn_url": "https://github.com/Parth-Gholap/test-ai-reviewer",
              "homepage": null,
              "size": 4,
              "stargazers_count": 0,
              "watchers_count": 0,
              "language": "JavaScript",
              "has_issues": true,
              "has_projects": true,
              "has_downloads": true,
              "has_wiki": true,
              "has_pages": false,
              "has_discussions": false,
              "forks_count": 1,
              "mirror_url": null,
              "archived": false,
              "disabled": false,
              "open_issues_count": 1,
              "license": null,
              "allow_forking": true,
              "is_template": false,
              "web_commit_signoff_required": false,
              "has_pull_requests": true,
              "pull_request_creation_policy": "all",
              "topics": [],
              "visibility": "public",
              "forks": 1,
              "open_issues": 1,
              "watchers": 0,
              "default_branch": "main"
            },
            "sender": {
              "login": "Ayush07571",
              "id": 178201552,
              "node_id": "U_kgDOCp8j0A",
              "avatar_url": "https://avatars.githubusercontent.com/u/178201552?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/Ayush07571",
              "html_url": "https://github.com/Ayush07571",
              "followers_url": "https://api.github.com/users/Ayush07571/followers",
              "following_url": "https://api.github.com/users/Ayush07571/following{/other_user}",
              "gists_url": "https://api.github.com/users/Ayush07571/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/Ayush07571/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/Ayush07571/subscriptions",
              "organizations_url": "https://api.github.com/users/Ayush07571/orgs",
              "repos_url": "https://api.github.com/users/Ayush07571/repos",
              "events_url": "https://api.github.com/users/Ayush07571/events{/privacy}",
              "received_events_url": "https://api.github.com/users/Ayush07571/received_events",
              "type": "User",
              "user_view_type": "public",
              "site_admin": false
            }
          },
          "headers": {
            "host": "parth18.app.n8n.cloud",
            "user-agent": "GitHub-Hookshot/649eabf",
            "content-length": "23916",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "140.82.115.95",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9e598971680b3952-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "140.82.115.95, 172.68.138.197",
            "x-forwarded-host": "parth18.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-44-645cd57df9-hppj5",
            "x-github-delivery": "b89424f0-2df5-11f1-86eb-4d037e52e51e",
            "x-github-event": "pull_request",
            "x-github-hook-id": "603963472",
            "x-github-hook-installation-target-id": "1198122963",
            "x-github-hook-installation-target-type": "repository",
            "x-hub-signature": "sha1=3a46f7cb81532e09c2094b1411b9c39054a01ec1",
            "x-hub-signature-256": "sha256=068ec6ccd0a4b23d783f5f741a62c4775348e149cdc09c452648d206ee30bde1",
            "x-is-trusted": "yes",
            "x-real-ip": "140.82.115.95"
          },
          "query": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a review": {
      "main": [
        [
          {
            "node": "Edit an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a review1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a review1": {
      "main": [
        [
          {
            "node": "Edit an issue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4da2374c-8951-4e5a-9928-38f372596900",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7bcdc797ad1c844302846710512115fdb96bc88f52f3efa2bf9d4f60f36d6765"
  },
  "id": "mnRjPf2XVfEnx8nJ",
  "tags": []
}